:root{
    --clr-white: #f6f6f6;
    --clr-black: #040404;
    --clr-grey-1: #7c7c7c;
    --clr-grey-2: #595959;
    --clr-green: #63d293;

    --fs-low : 1em;
    --fs-medium : 1.5em;
    --fs-big : 2em;

}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    outline: none;
    border: none;
}

body{
    min-height: 100svh;
}

a{
    color: var(--clr-green);
}

/* --------------------------- Header --------------------------- */

.header-back-profil{
    background-color: red;
    display: flex;
    align-items: center;
}

.header-back{
    display: flex;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
}

.btn-back{
    border-radius: 100vmax;
    padding: 0.2rem;
    background-color: transparent;
}

.btn-back img{
    width: 30px;
}

.header-profil{
    display: flex;
}