:root{
    --clr-white: #f6f6f6;
    --clr-black: #040404;
    --clr-grey-1: #7c7c7c;
    --clr-grey-2: #595959;
    --clr-green: #63d293;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}

body{
    min-height: 100svh;
}

main{
    position: relative;
}

/* ====================================== Navbar ======================================  */
.navbar{
    position: relative;
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 1rem;
}

.navbar h2 a{
    display: flex;
    align-items: center;
    font-size: 1.5em;
    gap: 0.5rem;
}

.navbar__left{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
}

.navbar__right{
    display: flex;
    gap: 1rem;
}

.navbar__left-right{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__right .sign-in,
.navbar__right .log-in{
    padding: 0.8rem;
    border-radius: 10px;
    cursor: pointer;
}

a{
    color: var(--clr-black);
}


/* ====================================== Hamburger menu ======================================  */

.navbar__mobile{
    display: none;
}

/* ------------------------- Hamburger menu : media queries : 375px -------------------------  */
@media (max-width: 800px) {
    .navbar__left-right{
        display: none;
    }

    .navbar h2{
        display: block;
        z-index: 99;
    }

    .hamburger{
        position: absolute;
        display: block;
        width: 35px;
        height: 35px;
        left: 85%;
        cursor: pointer;
        appearance: none;
        background-color: none;
        outline: none;
        border: none;
        z-index: 99;
        background-color: transparent;
    }
    
    .hamburger .bar,
    .hamburger::after,
    .hamburger::before{
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-color: var(--clr-black);
        margin: 6px;
        transition: 0.3s;
    }
    
    .hamburger.is-active::before{
        transform: rotate(-45deg) translate(-8px, 6px);
    }
    
    .hamburger.is-active .bar{
        opacity: 0;
    }
    
    .hamburger.is-active::after{
        transform: rotate(45deg) translate(-8px, -4px);
    }
    
    .navbar__mobile{
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 100vh;
        display: block;
        padding-top: 120px;
        background-color: var(--clr-grey-2);
        transition: 0.3s;
    }
    
    .navbar__mobile.is-active{
        left: 0%;
    }

    .navbar__mobile a{
        display: block;
        width: 100%;
        max-width: 90%;
        margin: 0 auto 16px;
        text-align: start;
        padding: 12px 8px;
        background-color: var(--clr-black);
        color: white;
        border-radius: 7px;
    }

    .navbar__mobile a:hover{
        color: var(--clr-grey-1);
        transition: .3s;
    }

    /* ------------------------- Hamburger menu : Btn : Log in / Log in -------------------------  */
    
    .navbar__mobile-bottom{
        position: relative;
        display: grid;
        place-content: center;
    }

    .navbar__mobile-bottom .sign-in__mobile,
    .navbar__mobile-bottom .log-in__mobile{
        padding: 0.8rem;
        min-width: 330px;
        border-radius: 10vmax;
        cursor: pointer;
    }

    .navbar__mobile-bottom .sign-in__mobile{
        margin-top: 5rem;
        margin-bottom: 2rem;
    }

}

/* ====================================== Discuss quote ======================================  */
.discuss__quote{
    display: grid;
    place-content: center;
    min-height: 70svh;
}

.discuss__quote h1{
    margin: 2rem;
    padding-top: 10rem;
    font-weight: 600;
    padding-bottom: 6rem;
}

.btn__create-account,
.btn__discuss{
    margin: 0.6rem;
    padding: 0.6rem;
    border-radius: 30px;
    cursor: pointer;
}

.discuss__quote picture{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.discuss__quote picture img{
    width: 120px;
    cursor: pointer;
}