:root{
    --clr-white: #ffffff;
    --clr-black: #000000;
    --clr-grey-1: #939ba7;
    --clr-grey-2: #3c444f;
    --clr-grey-3: #21262e;

}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    min-height: 100svh;
}

main{
    position: relative;
}

/* Navbar */
.navbar{
    display: flex;
    align-items: center;
    margin: 1rem;
}

.navbar h2 a{
    display: flex;
    align-items: center;
    font-size: 1.5em;
    gap: 0.5rem;
}

.navbar__left{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
}

.navbar__right{
    display: flex;
    gap: 1rem;
}

.navbar__left-right{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__right .sign-in,
.navbar__right .log-in{
    padding: 0.8rem;
    border-radius: 10px;
    cursor: pointer;
}

a{
    color: var(--clr-black);
}

/* Hamburger menu */

.hamburger{
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    appearance: none;
    background-color: none;
    outline: none;
    border: none;
    z-index: 99;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--clr-black);
    margin: 6px;
    transition: 0.4s;
}

.hamburger.is-active::before{
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active .bar{
    opacity: 0;
}

.hamburger.is-active::after{
    transform: rotate(45deg) translate(-8px, -4px);
}

.navbar__mobile{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    padding-top: 120px;
    background-color: pink;
    transition: 0.4s;
}

.navbar__mobile{
    left: 0%;
}

.navbar__mobile a{
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: blueviolet;
    color: white;
}


/* discuss quote */
.discuss__quote{
    display: grid;
    place-content: center;
    min-height: 70svh;
}

.discuss__quote h1{
    margin: 2rem;
    padding-top: 8rem;
}

.btn__create-account,
.btn__discuss{
    margin: 0.6rem;
    padding: 0.6rem;
    border-radius: 30px;
    cursor: pointer;
}

.discuss__quote picture{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.discuss__quote picture img{
    width: 120px;
    cursor: pointer;
}