:root{
    --clr-white: #ffffff;
    --clr-black: #000000;
    --clr-grey-1: #939ba7;
    --clr-grey-2: #3c444f;
    --clr-grey-3: #21262e;

}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    min-height: 100svh;
}

main{
    position: relative;
}

/* Navbar */
.navbar{
    display: flex;
    align-items: center;
    margin: 1rem;
}

.navbar h2 a{
    display: flex;
    align-items: center;
    font-size: 1.5em;
    gap: 0.5rem;
}

.navbar__left{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
}

.navbar__right{
    display: flex;
    gap: 1rem;
}

.navbar__left-right{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar__right .sign-in,
.navbar__right .log-in{
    padding: 0.8rem;
    border-radius: 10px;
    cursor: pointer;
}

a{
    color: var(--clr-black);
}

/* discuss quote */
.discuss__quote{
    display: grid;
    place-content: center;
    min-height: 70svh;
}

.discuss__quote h1{
    margin: 2rem;
}

.discuss__quote .btn__create-account,
.discuss__quote .btn__discuss{
    margin: 0.6rem;
    padding: 0.6rem;
    border-radius: 30px;
    cursor: pointer;
}

.discuss__quote picture{
    background-color: red;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.discuss__quote picture img{
    width: 120px;
    cursor: pointer;
}